<section class="response">
    <div class="container">
        <div class="test-pre-title" id="name-test">
            Результат прохождения теста <img src="/images/grayArrow.png">
        </div>
        <p class = "test-question-option" id = "perfomerTest">
            Тест выполнил  
        </p>

        <h1 class="form-title common-title" id="title"><span>Правильные ответы </span>к тесту</h1>
        <div class="whole-question" id="responseQuestions">
        </div>
<div class="response-question">
    <a onclick="javascript:history.back();return false;">Обратно к моему результату теста<img src="/images/small-arrow.png" alt="Стрелка"></a>
  </div>
</section>
